<!-- INICIO/CREACION DE LA JERARQUIA DEL DEPARTAMENTO -->
<h1 mat-dialog-title>Crear departamento</h1>

<div mat-dialog-content>
    <mat-form-field class="mr-1">
        <input matInput placeholder="Nombre del empleado" [(ngModel)]="nombre">
    </mat-form-field>
    <mat-form-field class="mr-1">
        <mat-select placeholder="Tipo de empleado" [(value)]="tipoElegido">
            <mat-option *ngFor="let tipoEmpleado of asigServ.getTiposEmpleado()" [value]="tipoEmpleado.tipo" [disabled]='empleado.tipo.tipo!=="Manager" && tipoEmpleado.tipo==="Manager"'>
                {{tipoEmpleado.tipo}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="guardar()">Guardar</button>
    <button mat-raised-button color="accent" (click)="cancelar()">Cancelar</button>
</div>