<mat-card class="mt-1">
    <!-- HEADER -->
    <mat-card-header>
        <div mat-card-avatar class="card-header-image"></div>
        <mat-card-title>Desarrollo</mat-card-title>
        <mat-card-subtitle>Presupuesto y empleados</mat-card-subtitle>
    </mat-card-header>

    <!-- CONTENIDO-->
    <mat-card-content class="scroll">
        <div class="inicio" *ngIf='!asigServ.getDepartamento()?.manager'>
            <!-- INICIO/CREACION DE LA JERARQUIA DEL DEPARTAMENTO -->
            <h4>Crear departamento</h4>
            <mat-form-field class="mr-1">
                <input matInput placeholder="Nombre del empleado" [(ngModel)]="nombre">
            </mat-form-field>
            <mat-form-field class="mr-1">
                <mat-select placeholder="Tipo de empleado" [(value)]="tipoElegido">
                    <mat-option *ngFor="let tipoEmpleado of asigServ.getTiposEmpleado()" [value]="tipoEmpleado.tipo" [disabled]='tipoEmpleado.tipo!="Manager"'>
                        {{tipoEmpleado.tipo}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <button mat-raised-button color="primary" (click)="crearDepartamento()">Crear</button>
        </div>
        <!-- INICIO/CREACION DE LA JERARQUIA DEL DEPARTAMENTO -->
        <!-- JERARQUIA DE DEPARTAMENTOS -->
        <br>
        <ul *ngIf='asigServ.getDepartamento()?.manager' class='mt-2 lista'>
            <app-empleado [empleado]='asigServ.getDepartamento().manager' [semilla]='true'></app-empleado>
        </ul>
        <!-- JERARQUIA DE DEPARTAMENTOS -->
        <br>
    </mat-card-content>

</mat-card>