/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/***** ESTILOS PRINCIPALES *****/

html,
body {
    background-color: whitesmoke;
}

.contenedor {
    width: 75%;
    margin: 0 auto;
}

.scroll {
    max-width: 100%;
    overflow-x: scroll;
}

.mt-1 {
    margin-top: 1em;
}

.mt-2 {
    margin-top: 2em;
}

.mr-1 {
    margin-right: 1em;
}

.right {
    float: right;
}

.dline {
    display: inline;
}


/** HOME **/

.card-header-image {
    background-image: url('assets/salary.png');
    background-size: cover;
}


/** NODOS **/

.button-row button {
    margin-right: 3px;
}

ul.lista {
    list-style: none;
    font-size: 16px;
}

ul.lista li {
    border-left: 2px solid black;
    padding-left: 5px;
    width: 100%;
    white-space: nowrap;
}


/** RESPONSIVE **/

@media only screen and (max-width: 720px) {
    .contenedor {
        width: 95%;
    }
}