/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/***** ESTILOS PRINCIPALES *****/

* {
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
    background-color: whitesmoke;
}

.contenedor {
    width: 75%;
    margin: 0 auto;
}

.scroll {
    max-width: 100%;
    overflow-x: auto;
}

.mt-1 {
    margin-top: 1em;
}

.mt-2 {
    margin-top: 2em;
}

.mr-1 {
    margin-right: 1em;
}

.ml-0 {
    margin-left: 0;
}

.pl-0 {
    padding-left: 0;
}

.right {
    float: right;
}

.dline {
    display: inline;
}


/** HOME **/

.card-header-image {
    background-image: url('assets/salary.png');
    background-size: cover;
}

.card-header-image-total {
    background-image: url('assets/change.png');
    background-size: cover;
}

.total {
    background-color: #ff4081;
    color: white;
}


/** NODOS **/

.button-row button {
    margin-right: 3px;
}

ul.lista {
    list-style: none;
    font-size: 16px;
}

ul.lista li {
    border-left: 2px solid black;
    padding-left: 5px;
    max-width: 100%;
    white-space: nowrap;
}

ul.lista li h4 {
    cursor: pointer;
    box-sizing: border-box;
}

ul.lista li h4:hover {
    background-color: lightgray;
    padding: 5px 0px;
    border-radius: 3px;
}


/** RESPONSIVE **/

@media only screen and (max-width: 720px) {
    .contenedor {
        width: 95%;
    }
    .full-width {
        width: 100%;
    }
}